a, a:hover{
    all:unset;
}
.imagen-producto img{
    width: 70%;
    cursor: pointer;
}
.categoria{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.box-product{
    margin-bottom: 10px;
    padding: 20px;
    transition: transform 1.5s;
}
.box-product:hover{
    box-shadow:  0 0 0 2px rgb(247, 244, 244);
    transform: scale(1.1);
    background-color: white;
    z-index: 100;
}
.marca{
    font-weight: bold;
    font-size: 16px;
    margin-top: -8px
}
.precio{
    margin-top: -8px
}