.menu{
    padding: 0 60px;
    height: 80px;
    border-bottom: 1px solid #eee;
    background-color: transparent;
    position:fixed;
    z-index: 100;
    width: 100vw;
  }
  .menu .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 5px;
    color: white;
    margin: 0;
  }
  .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu ul li{
    padding: 0 10px;
    font-size: 20px;
  }
  .menu ul a{
    color: white;
    text-decoration: none;
  }
  .iconos, .iconos li a{
    color: rgb(251, 213, 10);
  }
  .servicios{
    height: 150px;
}
.servicios-icon i{
    padding: 20px;
    border: 2px solid  rgb(251, 213, 10);;
    border-radius: 50%;
    font-size: 30px;
}
.servicios-info{
    margin-left: 20px;
}
.funciones{
    height: 250px;
}
.ofertas img{
    width: 100%;
}
.ant-modal-header{
  text-align: center;
}
.ant-modal-body, #exampleModal{
  padding: 35px 55px !important;
}
.ant-input-password{
  margin-top:20px;
}
.owl-item img{
 width: 80% !important
}
.inputModal{
  margin-bottom: 20px !important
}
.ant-btn{
  margin-top: 20px;
}