.menu{
    padding: 0 60px;
    height: 80px;
    border-bottom: 1px solid #eee;
    background-color: transparent;
    position:fixed;
    z-index: 999;
    width: 100vw;
    color: white
  }
  .menu .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 5px;
    color: white;
    margin: 0;
  }
  .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu ul li{
    padding: 23px 10px;
    font-size: 20px;
  }
  .menu ul a{
    color: white;
    text-decoration: none;
  }
  .menu>ul .active li{
    border-bottom: 2px solid rgb(251, 213, 10);
  }
  .iconos, .iconos a{
    color: rgb(251, 213, 10) !important;
  }
  .servicios{
    height: 150px;
}
.servicios-icon i{
    padding: 20px;
    border: 2px solid  rgb(251, 213, 10);;
    border-radius: 50%;
    font-size: 30px;
}
.servicios-info{
    margin-left: 20px;
}
.funciones{
    height: 250px;
}
.ofertas img{
    width: 100%;
}
.modal, body{
  padding: 0 !important;
}
.ant-modal-header{
  text-align: center;
}
.ant-modal-body, #exampleModal{
  padding: 35px 55px !important;
}
.ant-input-password{
  margin-top:20px;
}
.inputModal{
  margin-bottom: 20px !important
}
/* .ant-btn{
  margin-top: 20px;
} */
.colorBoton{
  background-color: black !important;
  color:white !important;
  margin-top: 10px !important;
  border-radius: 0 !important;
}
.colorBoton:hover{
  background-color: rgb(251, 213, 10) !important;
  
}
