.modal-open{
    overflow: visible;
    padding: 0 !important;
}
.modal-backdrop.show{
    opacity: 0
}
.modal-backdrop{
    all: unset
}
.detalle{
    margin-top: 80px;
    height: 200px;
    width: 100%;
    background-color: #eee;
    list-style: none;
    padding: 0;
}
.detalle li{
    padding: 0 10px;
}
.menu{
    background-color: black;
}
.imagen{
    padding: 20px;
}
.imagen img{
    width: 100%;
}
.info{
    padding: 0 20px;
}
.desc{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.boton{
    background-color: black;
    margin-left: 30px;
}
.ant-input-number{
    width: 120px !important;
    padding-left: 70px !important;
}
.qty{
    position: absolute;
    z-index: 1;
    margin-left: 5px;
    margin-top: 5px;
}
.detalleProducto{
    border-bottom: 1px solid #eee;
}
.relacionados{
    margin-top: 100px;
}
.relacionados h3{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    position: relative;
}
.relacionados h3::before{
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: 0;
    content: "";
    background-color: #ffd80a;
}