@import '../../colors.scss';

.titulo-productos{
    position: relative;
    margin-top: 100px;
}
.titulo-productos h6{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    color: #ffd80a;
}
.titulo-productos h3 span{
    padding: 0 25px;
    position: relative;
}
.titulo-productos h3 span::before, .titulo-productos h3 span::after{
    content: "";
    width: 80px;
    height: 2px;
    position: absolute;
    top: 18px;
    background-color: #ffd80a;
}
.titulo-productos h3 span::before{
    right: 100%;
}
.titulo-productos h3 span::after{
    left: 100%
}
.contenedor{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.ofertas{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
}
/*   .ofertas:hover img{
    transform: scale(1);
}   */
.ofertas .item img{
    width: 50%;
}
.ofertas {
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtro-categoria{
    list-style: none;
}
.filtro-categoria li{
    padding: 10px;
    font-size: 16px
}
.btnCat{
    border:1px solid transparent !important;
    background-color: white !important;
}
.btnCat:hover{
    border: 1px solid #ffd80a !important;
    color: black !important
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 220px;
    background: white;
    overflow: hidden;
  }
  .ant-carousel .slick-slide h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-carousel .slick-dots li{
      background-color: #ffd80a;
  }
  .ant-carousel .slick-dots li.slick-active{
     width: 30px !important;
    background-color: #ffd80a !important;
}
.carrousel2{
    height: 464px;
}
  .carrousel2 img{
    width: 86%;
  }
  .offers{
      margin-top: 80px;
  }
.imagenCarousel{
    width: 100%;
}
.ant-carousel .slick-dots{
    display: none !important;
}
.imagenCarousel{
    position: relative
}
.tit1{  
    position: absolute;
    font-family: $fuenteTitulo;
    color: $amarillo;
    font-size:2em;
    margin-left: -24%;
    width: 300px;
    margin-top: -105px;
    text-align: left;
}
.tit2{
    position: absolute;
    color: white;
    margin-left: -20%;
    font-size: 4rem;
    width: 450px;
    text-align: left;
}
.ant-carousel .slick-list{
    height: 100vh;
}
.btn-tit{
    position: absolute;
    background-color: $amarillo;
    color: #242B38;
    margin-left: 19%;
    margin-top: 80px;
    width: 120px;
    font-size: 20px;
}
@-moz-document url-prefix() {
    .btn-tit{
        position: absolute;
        background-color: $amarillo;
        color: #242B38;
        margin-left: 23%;
        margin-top: 100px;
        width: 120px;
        font-size: 20px;
    }
    .tit1{  
        position: absolute;
        font-family: $fuenteTitulo;
        color: $amarillo;
        font-size:2em;
        margin-left: -38%;
        width: 300px;
        margin-top: -105px;
        text-align: left;
    }
    .tit2{
        position: absolute;
        color: white;
        margin-left: -30%;
        margin-top: 70px;
        font-size: 4rem;
        width: 450px;
        text-align: left;
    }
  }
